*{box-sizing:border-box;
  
}
.header{
	background-color:#6495ED;
	width:100%;
	height:5%;
	overflow:hidden;
}
.header img{
	width:auto;
	height:100%;
	float:left;
	overflow:hidden;
}
.header ul{
	position:relative;
	float:right;
	padding-left:10px;
	padding-right:0px;
	list-style-type:none;
	font-size:110%;
	font-family:verdana;
	color:#E5E4E2;
	text-decoration:bold;
	text-align:centre;
	
}
.header li{
	float:right;
	position:relative;
	top:0%;
	-webkit-transform:translateY(50%);
	-ms-transform:translateY(50%);
	transform:translateY(50%);
	padding:15px;
	padding-left:5px;
	padding-right:15px;
	padding-top:0%;
	right:100px;

}
.header li a{
	color:white;
	text-decoration:none;
}
.header li a:hover{
	background-color:#000FFF;
	border:2px solid #000FFF;
	border-radius:8px;
	margin:0px;
	padding:0px;
}
.bg-image{
	/*background-image: url("stdimages/stdimg3.jpeg");*/
  filter: blur(2px);
  -webkit-filter: blur(2px);
  height:50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-image-text{
	background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.bg-image-text a{
	text-decoration:none;
	border:2px solid #6495ED;
	background-color:#6495ED;
	font-size:150%;
	border-radius: 5px;
	border-width:15px;
}
.bg-image-text a:hover{
	color:#467368;
	transition: transform .2s;
	transform: scale(0.1);
	padding: 5px;
  background-color: none;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
.program-section{
	font-family:vertical-align; 
	color:#6495ED; 
	font-size:50px; 
	text-align:center;
	display:inline;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
  padding: 20px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 50%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
.subscription{
	width:100%;
	padding:0px;
}
.subscription img{

  /* Set a specific height */
  height: 40%;
  width:100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.subscription-text{
	float:right;
	padding-right:40px;
	margin-top:-65%;
	margin-right:10%;
	position:relative;
	width:80%;
}
@media screen and (min-width: 1346px){
	.subscription-text{
	float:right;
	padding-right:40px;
	margin-top:-30%;
	margin-right:0%;
	position:relative;
	width:80%;
}
.subscription-text a{
	position:absolute;
	float:left; 
	right:62%;
	margin-left:40%;
}
.header{
	background-color:#6495ED;
	width:100%;
	height:15%;
	overflow:hidden;
}
.program-titles{
	 content: "";
  clear: both;
  display: table;
}
.program-titles2{
	 content: "";
  clear: both;
  display: table;
}
.bg-image{
	background-image: url("stdimg3.jpeg");
  filter: blur(2px);
  -webkit-filter: blur(2px);
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-image-text{
	background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.subscription img{

  /* Set a specific height */
  height: 60%;
  width:100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
}

.subscription-text p{
	text-align:centre;
	color:#0000FF;
	font-size:30px;
	font-family:verdana;
	padding-top:2.5%;
	margin-left:3%;
	
}
.subscription-text a{
	text-decoration:none;
	border:2px solid #6495ED;
	background-color:#6495ED;
	font-size:150%;
	border-radius: 5px;
	border-width:15px;
	margin-left:40%;
}
.subsription-text a:hover{
	color:#467368;
	transition: transform .2s;
	transform: scale(0.1);
	padding: 5px;
  background-color: none;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

/* Style the form - display items horizontally */
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width:100%;
  padding-left:80px;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.form-inline button:hover {
  background-color: royalblue;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;

  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
.slider-text{
	font-family:verdana;
	font-size:100%;
	text-align:centre;
	padding-left:32%;
	
}
.slider{
	object-fit: cover;
  object-position: 0% 0%;
  animation: mymove 5s infinite;
}
.column {
  float: left;
  width: 25%;
  padding: 50px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
#levis{
	object-fit: cover;
  object-position: 0% 0%;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  0% {
    object-position: 0% 0%;
  }
  25% {
    object-position: 20% 0%;
  }
  100% {
    object-position: 100% 100%;
  }
}
.footer{
	background-color:#6495ED;
	width:100%;
	height:auto;
	overflow:hidden;
}

.about{
	float:right;
	position:relative;
	left:-1%;
	padding-top:0%;
	padding:2%;
	font-size:65%;
	font-family:verdana;
	line-height:220%;
	text-align:justify;
	color: white;
}
.contact-details{
	float:left;
	position:relative;
	padding:4%;
	font-size:65%;
	font-family:verdana;
	color: white;
}
.other(
position:relative;
float:right;
font-size:63%;
font-family:verdana;
color:white;
)
